<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>找X</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <style>
        html, body { -ms-touch-action: none; background: #888888; padding: 0; border: 0; margin: 0; height: 100%; }
    </style>
	<script src="bin-debug/sha.js"></script>
    <!--modules_files_start-->
	<script egret="lib" src="libs/modules/egret/egret.min.js" src-release="libs/modules/egret/egret.min.js"></script>
	<script egret="lib" src="libs/modules/egret/egret.web.min.js" src-release="libs/modules/egret/egret.web.min.js"></script>
	<script egret="lib" src="libs/modules/egret/egret3d.min.js" src-release="libs/modules/egret/egret3d.min.js"></script>
	<script egret="lib" src="libs/modules/egret/socket.min.js" src-release="libs/modules/egret/socket.min.js"></script>
	<!--modules_files_end-->
	<script egret="lib" src="libs/modules/weixin/weixinapi.min.js" src-release="libs/modules/weixin/weixinapi.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" ></script>
    <!--game_files_start-->
	<script egret="game" src="bin-debug/ExtraE3D.min.js"></script>
	<script egret="game" src="bin-debug/GameDataDriver.min.js"></script>
	<script egret="game" src="bin-debug/FindXDataDriver.min.js"></script>
	<script egret="game" src="bin-debug/CreateBaseEnv.min.js"></script>
	<script egret="game" src="bin-debug/CreateGame.min.js"></script>
	<!--game_files_end-->
</head>
<body style="pointer-event:none;">
    <div style="margin:auto;width:100%;height:0%;" class="egret-player"
         data-entry-class="Main"
         data-orientation="portrait"
         data-scale-mode="showAll"
         data-frame-rate="60"
         data-content-width="480"
         data-content-height="800"
         data-show-paint-rect="false"
         data-multi-fingered="2"
         data-show-fps="false" data-show-log="false"
         data-log-filter="" data-show-fps-style="x:0,y:0,size:30,textColor:0x00c200,bgAlpha:0.9">
    </div>
    <script>
        document.wx_debug = '<%=wx_debug%>';
        document.wx_appid = '<%=wx_appid%>';
        document.wx_ts = '<%=wx_ts%>';
        document.wx_str = '<%=wx_str%>';
        document.wx_sig = '<%=wx_sig%>';
        egret.runEgret();
    </script>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_5949997'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D5949997' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
